* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Vollkorn', serif;
}

section.discounts-page main .discounts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    padding: 5px 0;
    animation: fadeIn 0.7s ease
}

section.discounts-page main .discounts .flight {
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
    cursor: pointer;
    text-align: center;
    
}

section.discounts-page main .discounts .flight .cities {
    font-size: 21px
}

section.discounts-page main .discounts .flight .dateOut {
    font-size: 18px;
}

section.discounts-page main .discounts .flight .price .new-price{
    font-size: 25px;
    font-weight: bold; 
}

section.discounts-page main .discounts .flight .price .old-price {
    font-size: 16px;
    text-decoration: line-through;
}

section.discounts-page main .discounts .flight .buy-button {
    display: none;
    padding: 10px 15px;
    background: rgba(51, 48, 48, 1);
    color: #e3e3e3;
    font-weight: bold;
    border: none;
    transition: 0.8s ease;
}

section.discounts-page main .discounts .flight .cities,
section.discounts-page main .discounts .flight .dateOut,
section.discounts-page main .discounts .flight .price,
section.discounts-page main .discounts .flight .buy-button {
    z-index: 3;
    transition: .2s ease
}

section.discounts-page main .discounts .flight:nth-child(1){
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}

section.discounts-page main .discounts .flight:nth-child(5) {
    grid-column: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}

section.discounts-page main .discounts .flight:nth-child(7) {
    grid-column-start: 2;
    grid-column-end: 4;
}

section.discounts-page main .discounts .flight:hover {
    position: relative;
}

section.discounts-page main .discounts .flight:hover .cities,
section.discounts-page main .discounts .flight:hover .dateOut,
section.discounts-page main .discounts .flight:hover .price {
    opacity: 0;
    
}

section.discounts-page main .discounts .flight:hover .buy-button {
    display: block;
    position: absolute;
}

section.discounts-page main .discounts .flight:hover .buy-button:hover {
    color: rgba(51, 48, 48, 1);
    background: #e3e3e3;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    section.discounts-page main .discounts {
        grid-template-columns: 1fr 1fr 1fr
    }

    section.discounts-page main .discounts .flight:nth-child(1) {
        grid-row: 1;
        grid-column: 1
    }

    section.discounts-page main .discounts .flight:nth-child(5) {
        grid-row: 2;
        grid-column: 2;
    }

    section.discounts-page main .discounts .flight:nth-child(7) {
        grid-row: 2/4;
        grid-column: 1;
    }

    section.discounts-page main .discounts .flight:nth-child(2) {
        grid-row: 1;
        grid-column: 2/4
    }
}

@media only screen and (max-width: 550px) {
    section.discounts-page main .discounts {
        grid-template-columns: 1fr 1fr
    }

    section.discounts-page main .discounts .flight:nth-child(7) {
        grid-row: 4;
        grid-column: 1;
    }

    section.discounts-page main .discounts .flight:nth-child(2) {
        grid-row: 1;
        grid-column: 2
    }
}

@media only screen and (max-width: 450px) {
    section.discounts-page main .discounts {
        display: block;
    }

    section.discounts-page main .discounts .flight {
        margin-bottom: 5px;
    }

    section.discounts-page main .discounts .flight:last-child {
        margin-bottom: 0
    }
}